{% extends 'movies/../base.html' %}
{% load static i18n humanize %}
{% load static i18n %}
{% csrf_token %}

{% block content %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">

    <div class="container">
        <h1 id="h1reasult">{% trans "Search reasults for" %}: {{query}}</h1>
        <div class="pagination">
        <span>
        {{ page_obj.start_index }}-{{ page_obj.end_index }}
        of {{ paginator.count|intcomma }}
        </span>
        |
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?order={{ view.get_ordering }}&page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; first</a>
                <a href="?order={{ view.get_ordering }}&page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?order={{ view.get_ordering }}&page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">next</a>
                <a href="?order={{ view.get_ordering }}&page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        <div class="row justify-content-between">
            <div class="col-6">
                <span>{{count}} {% trans "Titles were found" %}</span>
            </div>

            <div class="col-6 sortBy">
                <span>{% trans "Sorted by" %}:</span>
                  <select class="dropdown dropBtnSearchUp sortDropdown" aria-labelledby="dropdownMenu1">
                    <option value="1"><a href="#">{% trans "Title A-Z" %}</a></option>
                      <span role="separator" class="divider"></span>
                    <option value="2"><a href="#">{% trans "Oldest" %}</a></option>
                      <span role="separator" class="divider"></span>
                    <option value="3"><a href="#">{% trans "Newest" %}</a></option>
                      <span role="separator" class="divider"></span>
                    <option value="4"><a href="#">{% trans "Director A-Z" %}</a></option>
                  </select>
            </div>

        </div>

        <hr>
        <div>
            {% for object in object_list %}
               {% block movie %}{% include 'movies/_movie_search.html' %}{% endblock %}
            {% endfor %}
        </div>
    </div>
{% endblock %}



